.App {
  text-align: center;
}

.App h1 {
  color: rgb(72, 4, 104);
  font-size: 4rem;
}


.App-header {
  background-color: #f2d1ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

