.App {
  text-align: center;
}

.App h1 {
  color: #fff6f6;
  font-size: 4rem;
}


.App-header {
  background-color: #6f71ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

